/* GENERAL */
body {
  font-size: $font-size-base;
  color: $color-gray-lightest;
  line-height: $line-height-base;
  background-color: $body-background-color;
}

main {
  margin: 50px auto 0;
  padding-bottom: 50px;
  min-height: 1000px;
}

a {
  color: $color-gray-lightest;
  &:hover, &:focus {
    color: $color-green-darker;
    text-decoration: none;
  }
}

input[type="number"] {
  -moz-appearance:textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.table tbody td {
  vertical-align: middle;
}

/* APP */
#app {
  position: relative;
  margin: auto;
  max-width: 1920px;
}