/* HEADER */
.flash-message {
  margin: 10px auto;
  width: 50%;
  .message {
    display: inline-block;
    position: relative;
    padding: 20px 40px;
    width: 100%;
  }
  .message-success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
  } .message-info {
      color: #31708f;
      background-color: #d9edf7;
      border: 1px solid #31708f;
    } .message-warning {
        color: $color_orange;
        background-color: #fff3eb;
        border: 1px solid $color_orange;
      } .message-danger {
          color: $color_red;
          background-color: #ffe7e7;
          border: 1px solid $color_red;
        }
  .message-text {
    word-wrap: break-word;
  }
  .message-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    a, a:hover {
      color: $color_darkGray;
      opacity: 0.5;
    }
    a:hover {
      opacity: 0.8;
    }
  }
}

/* RESPONSIVE */
@include until($desktop) {
  #app {
    .flash-message {
      width: 90%;
    }
  }
}