/* HELPERS */
.radio, .checkbox {
  &:hover {
    color: $color-green-darker;
  }
}

.link-action {
  display: block;
  padding: 10px;
}

.shadow {
  -moz-box-shadow: inset 0 0 10px rgba(107, 110, 112, .8);
  -webkit-box-shadow: inset 0 0 10px rgba(107, 110, 112, .8);
  box-shadow: inset 0 2px 5px rgba(107, 110, 112, .8);
}

.no-wrap {
  white-space: nowrap;
}

/* RESPONSIVE */
@include mobile() {
  .scrollable-x {
    overflow-x: scroll;
  }
}