/* PAGINATION */
.pagination .pagination-list li a {
  background-color: $color-gray-darkest;
  transition: 0.2s ease;
  &.is-current {
    background-color: $color-green-darker;
    &:hover {
      color: $color-gray;
    }
  }
  &:hover {
    background-color: $color-green;
  }
}