.admin-page {
    h3 {
        margin: 15px 10px;
    }
}

/* MANAGE */
.manage-section {
    margin: 10px auto;
    padding: 10px;
    > h4 {
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .icon {
        float: left;
        i {
            padding-right: 15px;
        }
    }
}
.manage-section:before,
.manage-section:after {
    content: "";
    display: table;
}
.manage-section:after {
    clear: both;
}
.manage-tab {
    display: flex;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_lightGray;
    transition: color ease-in-out 0.2s,
    border ease-in-out 0.2s,
    background ease-in-out 0.2s;
    &:hover, &:focus {
        border-color: $color_gray;
        background-color: $color_lightGray;
        box-shadow: inset $color_darkGray 0 1px 12px 1px;
    }
    > a {
        display: flex;
        padding: 10px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        word-break: break-all;
        i {
            padding-right: 15px;
        }
    }
}
.manage-catalog, .manage-users {
    width: 100%;
    .products-categories, .products-attributes,
    .products-create, .users-create,
    .products-edit, .users-edit {
        width: 50%;
        float: left;
    }
}
.manage-btn-group {
    width: 100%;
    text-align: right;
}

/* MANAGE CATALOG */
.manage-catalog {
    > h4 {
        color: #800080;
    }
}

/* MANAGE USERS */
.manage-users {
    > h4 {
        color: #1c98ff;
    }
}

/* CATALOG */
#catalog-form {
    margin: 20px 0;
    overflow-x: auto;
    .catalog-action {
        select {
            height: 25px;
            vertical-align: middle;
        }
        button {
            height: 25px;
            vertical-align: middle;
        }
    }
}
#catalog-table {
    width: 100%;
    th, td {
        text-align: left;
        vertical-align: middle;
    }
    .table-head {
        padding: 5px 0;
        > tr {
            line-height: 30px;
        }
        th {
            padding: 10px;
            font-weight: bold;
            &:first-of-type {
                text-align: center;
            }
        }
    }
    .table-body {
        tr {
            border-top: 1px solid $color_lightGray;
        }
        td {
            padding: 10px;
            max-width: 300px;
            line-height: 20px;
            &:first-of-type {
                text-align: center;
            }
            &:last-of-type {
                > a {
                    padding: 5px;
                }
            }
        }
    }
}

/* CREATE PRODUCTS */
.product-create {
    .product-create-save {
        margin: 5px;
        padding: 10px 35px;
        color: $color_white;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        border: 1px solid $color_black;
        border-radius: 4px;
        background-color: $color_orange;
        transition: box-shadow ease-in-out .15s;
        &:hover, &:focus {
            box-shadow: inset $color_darkGray 0 1px 10px 1px;
        }
    }
    .product-create-table {
        width: 100%;
        max-width: 900px;
        margin: 10px 0 5px;
    }
    .create-attribute {
        td:first-child {
            width: 110px;
            vertical-align: top;
        }
        td {
            padding: 10px;
            input[type="text"] {
                width: 100%;
            }
            input[type="number"] {
                width: 150px;
            }
            textarea {
                width: 100%;
                resize: none;
            }
            select {
                width: 150px;
            }
        }
    }
}