/* ADMIN HEADER */
#admin-header {
    .admin-sections {
        li {
            font-family: Roboto-Regular, sans-serif;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
    }
}

/* ADMIN PAGE*/
.admin-page {
    h3 {
        margin: 20px 10px;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }
}

/* MANAGE */
.manage-section {
    margin: 10px auto;
    padding: 10px;
    > h4 {
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .icon {
        float: left;
        i {
            padding-right: 15px;
        }
    }
}
.manage-section:before,
.manage-section:after {
    content: "";
    display: table;
}
.manage-section:after {
    clear: both;
}
.manage-tab {
    display: flex;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_lightGray;
    transition: color ease-in-out 0.2s,
    border ease-in-out 0.2s,
    background ease-in-out 0.2s;
    &:hover, &:focus {
        border-color: $color_gray;
        background-color: $color_lightGray;
        box-shadow: inset $color_darkGray 0 1px 12px 1px;
    }
    > a {
        display: flex;
        padding: 10px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        word-break: break-all;
        i {
            padding-right: 15px;
        }
    }
}
.manage-catalog, .manage-users {
    width: 100%;
    .products-categories, .products-attributes,
    .products-create, .users-create,
    .products-edit, .users-edit {
        width: 50%;
        float: left;
    }
}
.manage-btn-group {
    width: 100%;
    text-align: right;
}

/* MANAGE CATALOG */
.manage-catalog {
    > h4 {
        color: #800080;
    }
}

/* MANAGE USERS */
.manage-users {
    > h4 {
        color: #1c98ff;
    }
}

/* CATALOG, CATEGORIES, ATTRIBUTES */
#catalog-form, #categories-form, #specifications-form, #attributes-form {
    margin: 20px 0;
    overflow-x: auto;
    .catalog-action, .categories-action, .specifications-action, .attributes-action {
        margin: 0 10px 10px;
        select {
            height: 25px;
            vertical-align: middle;
        }
        button {
            height: 25px;
            vertical-align: middle;
        }
    }
}
#catalog-table, #categories-table, #specifications-table, #attributes-table {
    width: 100%;
    th, td {
        text-align: left;
        vertical-align: middle;
    }
    .table-head {
        padding: 5px 0;
        > tr {
            line-height: 30px;
        }
        th {
            padding: 10px;
            font-weight: bold;
            &:first-of-type {
                text-align: center;
            }
        }
    }
    .table-body {
        tr {
            border-top: 1px solid $color_lightGray;
        }
        td {
            padding: 10px;
            max-width: 300px;
            line-height: 20px;
            &:first-of-type {
                text-align: center;
            }
            &:last-of-type {
                > a {
                    padding: 5px;
                }
            }
        }
    }
}
.attribute-content-section {
    .btn-manage-add {
        margin: 25px 0 0;
    }
}

/* CREATE, EDIT ENTITIES */
.product-create, .product-edit,
.category-create, .category-edit,
.specification-create, .specification-edit,
.attribute-create, .attribute-edit {
    .entity-save, #entity-delete {
        margin: 5px;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        border: 1px solid $color_black;
        border-radius: 4px;
        transition: box-shadow ease-in-out .15s;
        &:hover, &:focus {
            box-shadow: inset $color_darkGray 0 1px 10px 1px;
        }
    }
    .entity-save {
        padding: 10px 30px;
        color: $color_white;
        background-color: $color_orange;
    }
    #entity-delete {
        padding: 10px 15px;
        color: $color_black;
        background-color: $color_red;
    }
    .content-section-toggle {
        margin: 15px 0 0;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid $color_lightGray;
        > strong {
            color: $color_red;
            font-size: 15px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            i {
                padding-left: 10px;
            }
        }
    }
    .content-container {
        transition: all ease-in-out 0.2s;
        .product-specification-attributes {
            display: none;
        }
    }
    .product-table, .category-table {
        width: 100%;
        margin: 10px 0 5px;
    }
    .entity-specification {
        font-weight: bold;
        letter-spacing: 0.2px;
        border-left: 1px solid $color_orange;
        > td {
            padding: 15px 10px;
            color: $color_black;
            text-transform: uppercase;
        }
    }
    .entity-attribute {
        height: 60px;
        td:first-child {
            width: 110px;
            color: $color_black;
            font-size: 13px;
            vertical-align: top;
        }
        td {
            padding: 10px;
            input {
                padding: 2px 3px;
                line-height: 20px;
            }
            input[type="text"] {
                width: 100%;
            }
            input[type="number"] {
                width: 150px;
            }
            textarea {
                width: 100%;
                resize: none;
            }
            select {
                width: 150px;
            }
        }
    }
}
.category-create, .category-edit {
    .category-table {
        .entity-attribute {
            .category-attribute-group {
                width: 200px;
                label {
                    padding-left: 20px;
                }
            }
        }
    }
}