/* BUTTONS */
body {
  .btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
  }
  .btn-cart-add, .btn-cart-update {
    margin-top: 5px;
    color: $color_white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid $color_black;
    box-shadow: inset $color_red 0 1px 20px 2px;
    background: $color_orange;
    transition: background ease-in-out .15s;
    float: right;
    &:hover {
      color: $color_white;
      background: $color_red;
      box-shadow: inset $color_darkGray 0 1px 20px 2px;
    }
  }
  .btn-cart-add {
    padding: 6px 10px;
    line-height: 16px;
  }
  .btn-checkout {
    margin-top: 5px;
    padding: 10px 30px;
    color: $color_white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border: 1px solid $color_black;
    background: $color_green;
    transition: background ease-in-out .15s;
    &:hover {
      color: $color_white;
      background: $color_darkGreen;
      box-shadow: inset $color_darkGray 0 1px 20px 2px;
    }
  }
  #order-submit.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .btn-manage-back, .btn-manage-add {
    display: inline-block;
    margin: 5px;
    a {
      display: inline-block;
      padding: 10px 20px;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
  .btn-manage-back {
    a {
      &:hover, &:focus {
        color: $color_red;
      }
      i {
        padding-right: 7px;
      }
    }
  }
  .btn-manage-add {
    a {
      color: $color_white;
      background-color: $color_orange;
      border: 1px solid $color_darkGray;
      border-radius: 4px;
      transition: box-shadow ease-in-out .15s;
      &:hover, &:focus {
        box-shadow: inset $color_darkGray 0 1px 10px 1px;
      }
      &:hover, &:focus {
        color: $color_white;
      }
    }
  }
  .btn-clean {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }
}