/* USER ACCOUNT */
#user-account {
  padding: 10px;
  h1, h2, h3, h4 {
    text-transform: uppercase;
  }
  p {
    margin: 10px;
  }
  > h4 {
    margin: 10px 10px 20px;
  }
  #account-nav {
    .account-settings, .account-orders, .account-order-history {
      position: relative;
      display: flex;
      height: 60px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid $color-gray;
      -webkit-transition: color ease-in-out 0.2s,
      border ease-in-out 0.2s,
      background ease-in-out 0.1s;
      transition: color ease-in-out 0.2s,
      border ease-in-out 0.2s,
      background ease-in-out 0.1s;
      &:hover {
        border-color: $color-gray;
        background-color: $color-gray;
        box-shadow: inset $color-gray-darkest 0 1px 3px 0;
      }
      a {
        display: flex;
        padding: 10px;
        width: 100%;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        i {
          padding-right: 7px;
        }
      }
    }
    .active {
      color: $color-red;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        bottom: -1px;
        border: 10px solid;
        border-color: transparent transparent $color-gray transparent;
      }
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        bottom: -3px;
        border: 10px solid;
        border-color: transparent transparent $color-white transparent;
      }
      &:hover::before {
        border-color: transparent transparent $color-gray transparent;
      }
    }
  }
  #account-panel {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    > h4 {
      margin: 0 10px 20px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.4px;
    }
    .user-orders {
      margin: 15px 0;
      width: 100%;
      tr {
        th, td {
          padding: 10px;
        }
      }
      thead {
        th {
          font-weight: bold;
        }
      }
      tbody {
        tr {
          border-top: 1px solid $color-gray;
        }
        td {
          &:last-of-type {
            > a {
              padding: 5px;
            }
          }
        }
      }
    }
    .order-sumup {
      margin: 20px 0;
      td {
        padding: 5px 10px;
        &:first-of-type {
          width: 110px;
          font-weight: bold;
          word-break: break-word;
        }
      }
    }
    .order-view {
      tbody {
        td {
          vertical-align: middle;
          img {
            width: 60px;
          }
        }
      }
    }
  }
  .account-content-section {
    .content-section-toggle {
      margin: 15px 0 0;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid $color-gray;
      strong {
        color: $color_red;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        i {
          padding-left: 5px;
        }
      }
    }
  }
  .form-group {
    padding: 0 10px;
    label {
      margin: 10px 0;
    }
    select {
      display: block;
    }
  }
  #account-update-confirm {
    margin: 30px 0 0;
    background-color: $color-gray;
  }
  #account-update-submit {
    margin: 20px 10px;
    height: 45px;
    color: $color-white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border: 1px solid $color-black;
    background-color: $color-orange;
    &:hover {
      background: $color-red;
      box-shadow: inset $color-gray-darkest 0 1px 20px 2px;
    }
  }
}

/* RESPONSIVE STYLES */
@import "responsive";