#user-account {
  .columns {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#account-update-confirm {
  padding: 15px;
  background-color: $color-gray-transparent;

  #account-update-submit {
    margin: 15px 0 5px;
  }
}