/* GRID SYSTEM */
.grid {
  margin-bottom: 10px;
}

.grid-uniform {
  margin: 0;
  padding: 0;
}

.grid-item {
  float: left;
}

.sm-10, .sm-15, .sm-33, .sm-50, .sm-85, .sm-100,
.md-10, .md-15, .md-20, .md-33, .md-50 .md-85,
.lg-15, .lg-20, .lg-25, .lg-33, .lg-40, .lg-50, .lg-60, .lg-65, .lg-85, .lg-100 {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* RESPONSIVE STYLES */
@import "responsive";