@media only screen and (max-width: $mobile-md - 1) {
    .sm-100 {  width: 100%;  }
    .sm-85 {  width: 85%;  }
    .sm-50 {  width: 50%  }
    .sm-33 {  width: 33.33%  }
    .sm-25 {  width: 25%;  }
    .sm-15 {  width: 15%;  }
    .sm-10 { width: 10%; }
}

@media only screen and (min-width: $mobile-md) and (max-width: $desktop-lg - 1) {
    .md-100 {  width: 100%;  }
    .md-85 {  width: 85%;  }
    .md-65 {  width: 65%;  }
    .md-60 {  width: 60%;  }
    .md-50 {  width: 50%;  }
    .md-40 {  width: 40%;  }
    .md-35 {  width: 35%;  }
    .md-33 {  width: 33.33%  }
    .md-25 {  width: 25%;  }
    .md-20 {  width: 20%;  }
    .md-15 {  width: 15%;  }
}

@media only screen and (min-width: $desktop-lg) {
    .lg-100 {  width: 100%;  }
    .lg-85 {  width: 85%;  }
    .lg-65 {  width: 65%;  }
    .lg-60 {  width: 60%;  }
    .lg-50 {  width: 50%;  }
    .lg-40 {  width: 40%;  }
    .lg-35 {  width: 35%;  }
    .lg-33 {  width: 33.33%;  }
    .lg-25 {  width: 25%;  }
    .lg-20 {  width: 20%;  }
    .lg-15 {  width: 15%;  }
}