@media only screen and (max-width: $mobile-md - 1) {
  .product-media {
    input[type="file"] {
      width: 160px;
      color: transparent;
    }
  }
  .category-create, .category-edit, .user-edit {
    .category-table, .user-table {
      .entity-attribute {
        .category-property-group, .user-role {
          label {
            font-size: 11px;
          }
        }
      }
    }
  }
}