#entity-edit-form, #entity-create-form {
  .columns {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .label {
    color: $color-gray-lighter;
  }

  .field.is-horizontal {
    padding: 15px 0;
  }

  .field.is-distinct {
    padding-left: 6px;
    border-left: 3px solid $color-gray-transparent;
  }
}

#specifications {
  .specification-group {
    padding: 15px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-darker;
    }

    .field-body {
      padding: 10px 0;
    }

    .label {
      color: $color-gray-lighter;
    }

    .input {
      color: $color-white;
      border-color: $color-gray-darker;
      background-color: $color-black-transparent;
      &:focus {
        border-color: $color-green-darker;
      }
    }
  }
}

#send-invoice-form {
  margin: 10px 0 0;
  padding: 10px 0;
}