/* GRID SYSTEM */
.grid {
    margin-bottom: 10px;
}

.grid-uniform {
    margin: 0;
    padding: 0;
}

.grid-item {
    float: left;
}

.sm-50, .md-33, .lg-15, .lg-25, .lg-85, .lg-100 {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@media only screen and (max-width: $mobile-md - 1) {
    .sm-100 {
        width: 100%;
    }
    .sm-50 {
        width: 50%
    }
    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }
}

@media only screen and (min-width: $mobile-md) {
    #shopping-cart-table {
        .table-body {
            td:first-child {
                text-align: right;
            }
        }
    }
}

@media only screen and (min-width: $mobile-md) and (max-width: $desktop-lg - 1) {
    .md-100 {
        width: 100%;
    }
    .md-33 {
        width: 33.33%
    }
}

@media only screen and (min-width: $desktop-lg) {
    .lg-100 {
        width: 100%;
    }
    .lg-85 {
        width: 85%;
    }
    .lg-25 {
        width: 25%;
    }
    .lg-15 {
        width: 15%;
    }
}