/* GRID SYSTEM */
.grid {
    margin-bottom: 10px;
}

.grid-uniform {
    margin: 0;
    padding: 0;
}

.grid-item {
    float: left;
}

.small-50, .medium-33, .large-15, .large-25, .large-85, .large-100 {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@media only screen and (max-width: $mobile-md - 1) {
    .small-50 {
        width: 50%
    }

    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }
}

@media only screen and (min-width: $mobile-md) {
    #shopping-cart-table {
        .table-body {
            td:first-child {
                text-align: right;
            }
        }
    }
}

@media only screen and (min-width: $mobile-md) and (max-width: $desktop-lg - 1) {
    .medium-33 {
        width: 33.33%
    }
}

@media only screen and (min-width: $desktop-lg) {
    .large-15 {
        width: 15%;
    }

    .large-25 {
        width: 25%;
    }

    .large-85 {
        width: 85%;
    }

    .large-100 {
        width: 100%;
    }
}