/* IMPORTS */
@import "includes/reset";
@import "includes/normalize";
@import "includes/variables";
@import "includes/mixins";
@import "includes/buttons";
@import "includes/responsive";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* GENERAL */
body {
    font-family: OpenSans-Regular, sans-serif;
    background-color: $color_white;
    line-height: 1.2;
}

main {
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 1000px;
}

a {
    color: $color_black;
    &:hover, &:focus {
        color: $color_red;
        text-decoration: none;
    }
}

input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* HELPERS */
.text-center {
    text-align: center !important;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1; /* ie 6/7 */
}

#wrapper {
    position: relative;
    margin: auto;
    max-width: 1920px;
}

.container-inner {
    margin: auto;
    padding: 0 5px;
    max-width: 1200px;
}

/* PAGINATION */
.product-pagination {
    .pagination {
        margin: 22px 10px;
        float: right;
        a, a:hover {
            color: $color_black;
        }
        .page-first, .page-last {
            font-weight: bold;
        }
        > li {
            display: inline-block;
            float: left;
        }
    }
}

/* HEADER */
#nav-top {
    background-color: $color_darkGray;
    border: 1px solid $color_brownBlack;
    border-radius: 0;
    a {
        color: $color_fontWhite;
    }
    a:hover {
        color: $color_red;
    }
    li:hover {
        background-color: #272323;
    }
    li.dropdown.open a.dropdown-toggle {
        background-color: $color_red;
    }
    li.dropdown > a {
        color: $color_fontWhite;
    }
    ul.dropdown-menu {
        background-color: $color_red;
        border-top: 1px solid $color_red;
        border-radius: 0;
        li.divider {
            background-color: $color_black;
        }
        li > a:hover, li > a:focus {
            background-color: $color_orange;
            color: $color_fontWhite;
        }
    }
}

.flash-message {
    margin: 10px auto;
    width: 50%;
    .message {
        display: inline-block;
        position: relative;
        padding: 20px 40px;
        width: 100%;
    }
    .message-success {
        color: #3c763d;
        background-color: #dff0d8;
        border: 1px solid #3c763d;
    } .message-info {
        color: #b3b13e;
        background-color: #fafbde;
        border: 1px solid #b3b13e;
    } .message-warning {
        color: $color_orange;
        background-color: #fff3eb;
        border: 1px solid $color_orange;
    } .message-danger {
        color: $color_red;
        background-color: #ffe7e7;
        border: 1px solid $color_red;
    }
    .message-text {
        word-wrap: break-word;
    }
    .message-close {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        a, a:hover {
            color: $color_darkGray;
            opacity: 0.5;
        }
        a:hover {
            opacity: 0.8;
        }
    }
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: $color_black;
    clear: both;
    p {
        padding: 15px 0 0 0;
        margin: 0;
        color: #999999;
        font-size: 1em;
    }
}

/* SIDEBAR */
.sidebar-grid {
    max-width: 185px;
    width: 90%;
    height: 800px;
    background-color: $color_sidebarGray;
    float: none;
}

/* PRODUCT DISPLAY */
.product-grid {
    padding: 0 10px 0 10px;
    height: 300px;
    background-color: $color_white;
    border: 1px solid $color_gray;
    .product-image {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 120px;
        img {
            display: block;
            margin: auto;
            width: auto;
            max-height: 120px;
        }
    }
    .product-link {
        margin: 10px 0 0;
        height: 60px;
        font-size: 13px;
        font-weight: bold;
        word-wrap: break-word;
        overflow: hidden;
        a {
            color: $color_black;
        }
        a:hover, a:focus {
            color: $color_red;
            text-decoration: none;
        }
    }
    .stock-status {
        margin: 10px 5px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        .stock-text {
            text-align: right;
            letter-spacing: 0.2px;
        }
    }
    .in-stock {
        .stock-text {
            color: $color_green;
        }
    }
    .low-stock {
        .stock-text {
            color: $color_orange;
        }
    }

    .product-price {
        margin: 5px;
        .product-price-old {
            margin: 0;
            line-height: 20px;
            text-decoration: line-through;
        }
        .product-price-current {
            color: $color_black;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
        }
    }
}

/* PRODUCT VIEW */
#product-details {
    padding: 10px 10px;
    float: left;
    .product-image {
        > img {
            margin: auto;
        }
    }
    .product-specifications {
        margin: 30px 0 10px 0;;
        width: 100%;
        tr {
            line-height: 20px;
            &.category {
                > td {
                    font-weight: bold;
                }
            }
            &.specification {
                background-color: $color_gray;
            }
        }
        td {
            padding: 4px 3px;
            color: $color_black;
            &.attribute {
                width: 170px;
                border-right: 2px solid $color_white;
            }
            &.value {
                padding-left: 10px;
            }
        }
    }
}
#product-buy {
    padding: 10px 10px;
    float: left;
    > h2 {
        margin: 20px 0 10px;
        padding-bottom: 10px;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid $color_lightGray;
    }
    .product-code {
        padding: 10px 0;
    }
    .product-price-current {
        color: $color_red;
        font-size: 20px;
        font-weight: bold;
    }
    .stock-status {
        margin: 15px 0;
        .stock-icon {
            display: table-cell;
            padding-right: 7px;
            vertical-align: middle;
            > i {
                display:block;
                font-size: 10px;
            }
        }
        .stock-text {
            display: table-cell;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .in-stock {
        .stock-icon {
            > i {
                color: $color_green;
            }
        }
    }
    .low-stock {
        .stock-icon {
            > i {
                color: $color_orange;
            }
        }
    }
    .out-of-stock {
        .stock-icon {
            > i {
                color: $color_red;
            }
        }
    }
    .form-container {
        margin: 20px 0;
        padding: 15px 0;
        border-top: 1px solid $color_gray;
    }
    #add-to-cart-form {
        label {
            display: none;
        }
        #qty {
            margin-right: 60px;
            width: 60px;
            height: 50px;
            font-size: 20px;
            text-align: center;
            background: $color_lightGray;
            border: 1px $color_gray solid;
            border-radius: 3px;
            float: left;
            outline: none;
            transition: border-color ease-in-out .25s;
            &:focus {
                border: 1px solid $color_orange;
            }
        }
        .btn-cart-add {
            padding: 10px 20px;
            font-size: 14px;
            line-height: 20px;
            float: left;
        }
    }
}

/* CART */
#shopping-cart-form {
    #qty {
        width: 50px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        background: $color_lightGray;
        border: 1px $color_gray solid;
        border-radius: 3px;
        outline: none;
        transition: border-color ease-in-out .25s;
        &:focus {
            border: 1px solid $color_orange;
        }
    }
    .cart-total {
        margin: 20px 10px;
        strong {
            font-size: 16px;
        }
    }
    .cart-update {
        padding: 10px;
    }
}
#shopping-cart-table {
    width: 100%;
    tr {
        background-color: $color_white;
        border-bottom: 1px solid $color_lightGray;
    }
    th, td {
        text-align: center;
        vertical-align: middle;
    }
    .table-headers {
        padding: 5px 0;
        > tr {
            line-height: 30px;
        }
        th {
            padding: 10px 5px;
            color: $color_red;
            font-weight: bold;
        }
    }
    .table-body {
        td {
            padding: 15px;
            line-height: 20px;
        }
    }
    .cart-item-image {
        img {
            margin: auto;
            width: auto;
            max-height: 50px;
        }
    }
    .cart-item-price {
        min-width: 100px;
    }
}
.cart-empty {
    margin: 40px auto;
    text-align: center;
    > h2 {
        margin-bottom: 50px;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }
    > a {
        padding: 5px 10px;
        color: $color_black;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        background-color: $color_orange;
        border: 1px solid $color_black;
        transition: background ease-in-out .25s;
        &:hover {
            color: $color_black;
            background-color: $color_red;
        }
    }
}

/* MANAGE */
.manage-section {
    margin: 10px auto;
    padding: 10px;
    > h4 {
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .icon {
        float: left;
        i {
            padding-right: 15px;
        }
    }
}
.manage-section:before,
.manage-section:after {
    content: "";
    display: table;
}
.manage-section:after {
    clear: both;
}
.manage-tab {
    display: flex;
    padding: 10px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_lightGray;
    transition: color ease-in-out 0.2s,
                border ease-in-out 0.2s,
                background ease-in-out 0.2s;
    &:hover, &:focus {
        border-color: $color_gray;
        background-color: $color_lightGray;
        box-shadow: inset $color_darkGray 0 1px 12px 1px;
    }
}
.manage-products, .manage-users {
    width: 100%;
    .products-create, .users-create {
        width: 50%;
        float: left;
    }
    .products-edit, .users-edit {
        width: 50%;
        float: left;
    }
}
.manage-btn-group {
    width: 100%;
    text-align: right;
}

/* MANAGE PRODUCTS */
.manage-products {
    > h4 {
        color: #800080;
    }
}

/* MANAGE USERS */
.manage-users {
    > h4 {
        color: #1c98ff;
    }
}

/* CREATE PRODUCTS */
.product-create {
    > h3 {
        margin: 15px 10px;
    }
    .product-create-save {
        margin: 5px;
        padding: 10px 35px;
        color: $color_white;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        border: 1px solid $color_black;
        border-radius: 4px;
        background-color: $color_orange;
        transition: box-shadow ease-in-out .15s;
        &:hover, &:focus {
            box-shadow: inset $color_darkGray 0 1px 10px 1px;
        }
    }
    .product-create-table {
        width: 100%;
        max-width: 900px;
        margin: 10px 0 5px;
    }
    .create-attribute {
        td:first-child {
            width: 110px;
            vertical-align: top;
        }
        td {
            padding: 10px;
            input[type="text"] {
                width: 100%;
            }
            input[type="number"] {
                width: 150px;
            }
            textarea {
                width: 100%;
                resize: none;
            }
            select {
                width: 150px;
            }
        }
    }
}