/* IMPORTS */
@import "reset";
@import "normalize";
@import "variables";
@import "mixins";
@import "responsive";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* GENERAL */
body {
    font-family: OpenSans-Regular, sans-serif;
    background-color: $color_white;
    line-height: 1.2;
}

main {
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 1000px;
}

a {
    color: $color_black;
    &:hover, &:focus {
        color: $color_red;
        text-decoration: none;
    }
}

/* HELPERS */
.text-center {
    text-align: center !important;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

#wrapper {
    position: relative;
    margin: auto;
    max-width: 1920px;
}

.container-inner {
    margin: auto;
    padding: 0 5px;
    max-width: 1200px;
}

/* BUTTONS */
.btn-cart-add {
    margin-top: 5px;
    line-height: 20px;
    color: $color_white;
    background: $color_orange;
    border-color: $color_black;
    float: right;
    transition: background ease-in-out .15s;
}

.btn-cart-add:hover {
    color: $color_white;
    background: $color_red;
}

/* PAGINATION */
.product-pagination {
    .pagination {
        margin: 22px 10px;
        float: right;
        a, a:hover {
            color: $color_black;
        }
        .page-first, .page-last {
            font-weight: bold;
        }
        > li {
            display: inline-block;
            float: left;
        }
    }
}

/* HEADER */
#nav-top {
    background-color: $color_darkGray;
    border: 1px solid $color_brownBlack;
    border-radius: 0;
    a {
        color: $color_fontWhite;
    }
    a:hover {
        color: $color_red;
    }
    li:hover {
        background-color: #272323;
    }
    li.dropdown.open a.dropdown-toggle {
        background-color: $color_red;
    }
    li.dropdown > a {
        color: $color_fontWhite;
    }
    ul.dropdown-menu {
        background-color: $color_red;
        border-top: 1px solid $color_red;
        border-radius: 0;
        li.divider {
            background-color: $color_black;
        }
        li > a:hover, li > a:focus {
            background-color: $color_orange;
            color: $color_fontWhite;
        }
    }
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: $color_black;
    clear: both;
    p {
        padding: 15px 0 0 0;
        margin: 0;
        color: #999999;
        font-size: 1em;
    }
}

/* SIDEBAR */
.sidebar-grid {
    max-width: 185px;
    width: 90%;
    height: 800px;
    background-color: $color_sidebarGray;
    float: none;
}

/* PRODUCT DISPLAY */
.product-grid {
    padding: 0 10px 0 10px;
    height: 300px;
    background-color: $color_white;
    border: 1px solid $color_gray;
    .product-image {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 120px;
        img {
            display: block;
            margin: auto;
            width: auto;
            max-height: 120px;
        }
    }
    .product-link {
        width: 100%;
        height: 50px;
        font-size: 12px;
        font-weight: bold;
        a {
            color: $color_black;
        }
        a:hover, a:focus {
            color: $color_red;
            text-decoration: none;
        }
    }
    .product-price-old {
        margin: 0;
        height: 20px;
        s {
            text-decoration: line-through;
        }
    }
    .product-price {
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: $color_black;
    }
}

/* PRODUCT VIEW */
#product-details {
    padding: 10px 10px;
    float: left;
    .product-image {
        > img {
            margin: auto;
        }
    }
    .product-specifications {
        margin: 30px 0 10px 0;;
        width: 100%;
        tr {
            line-height: 20px;
            &.category {
                > td {
                    font-weight: bold;
                }
            }
            &.specification {
                background-color: $color_gray;
            }
        }
        td {
            padding: 4px 3px;
            color: $color_black;
            &.attribute {
                width: 170px;
                border-right: 2px solid $color_white;
            }
            &.value {
                padding-left: 10px;
            }
        }
    }
}
#product-buy {
    padding: 10px 10px;
    float: left;
    > h2 {
        margin: 20px 0 10px;
        padding-bottom: 10px;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid $color_lightGray;
    }
    .product-code {
        padding: 10px 0;
    }
    .product-price {
        color: $color_red;
        font-size: 16px;
        font-weight: bold;
    }
    .form-container {
        margin: 20px 0;
        padding: 15px 0;
        border-top: 1px solid #e6e6e6;
    }
    #add-to-cart-form {
        label {
            display: none;
        }
        #qty {
            margin-right: 60px;
            width: 60px;
            height: 50px;
            font-size: 20px;
            text-align: center;
            background: $color_lightGray;
            border: 1px $color_gray solid;
            border-radius: 3px;
            float: left;
            outline: none;
            transition: border-color ease-in-out .25s;
            &:focus {
                border: 1px solid $color_orange;
            }
        }
        .btn-cart-add {
            padding: 10px 20px;
            float: left;
        }
    }
}

/* CART */
#shopping-cart-form {
    #qty {
        width: 50px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        background: $color_lightGray;
        border: 1px $color_gray solid;
        border-radius: 3px;
        outline: none;
        transition: border-color ease-in-out .25s;
        &:focus {
            border: 1px solid $color_orange;
        }
    }
}
#shopping-cart-table {
    width: 100%;
    .product-image {
        img {
            margin: auto;
            width: auto;
            max-height: 50px;
        }
    }
    tr {
        background-color: $color_white;
        border-bottom: 1px solid $color_lightGray;
    }
    th, td {
        text-align: center;
        vertical-align: middle;
    }
    .table-headers {
        padding: 5px 0;
        > tr {
            line-height: 30px;
        }
        th {
            padding: 10px 5px;
            color: $color_red;
            font-weight: bold;
        }
    }
    .table-body {
        td {
            padding: 15px;
            line-height: 20px;
        }
    }
}
.cart-empty {
    margin: 40px auto;
    text-align: center;
    > h2 {
        margin-bottom: 50px;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }
    > a {
        padding: 5px 10px;
        color: $color_black;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        background-color: $color_orange;
        border: 1px solid $color_black;
        transition: background ease-in-out .25s;
        &:hover {
            color: $color_black;
            background-color: $color_red;
        }
    }
}