/* IMPORTS */
@import "reset";
@import "normalize";
@import "variables";
@import "mixins";
@import "responsive";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* GENERAL */
body {
    font-family: OpenSans-Regular, sans-serif;
    background-color: $color_lightGray;
    line-height: 1.2;
}

main {
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 840px;
}

a {
    color: $color_black;
    &:hover, &:focus {
        color: $color_red;
        text-decoration: none;
    }
}

/* HELPERS */
.text-center {
    text-align: center !important;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

// Wrapper
#wrapper {
    position: relative;
    margin: auto;
    max-width: 1920px;
}

.container-inner {
    margin: auto;
    padding: 0 5px;
    max-width: 1200px;
}

/* BUTTONS */
.btn-cart-add {
    margin-top: 5px;
    line-height: 20px;
    color: $color_white;
    background: $color_orange;
    border-color: $color_black;
    float: right;
}

.btn-cart-add:hover {
    color: $color_white;
    background: $color_red;
}

/* HEADER */
#nav-top {
    background-color: $color_gray;

    a {
        color: $color_fontWhite;
    }
    a:hover {
        color: $color_red;
    }

    li:hover {
        background-color: #272323;
    }
    li.dropdown.open a.dropdown-toggle {
        background-color: $color_red;
    }
    li.dropdown > a {
        color: $color_fontWhite;
    }

    ul.dropdown-menu {
        background-color: $color_red;
        li.divider {
            background-color: $color_black;
        }
        li > a:hover, li > a:focus {
            background-color: $color_orange;
            color: $color_fontWhite;
        }
    }
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: $color_black;
    clear: both;

    p {
        padding: 15px 0 0 0;
        margin: 0;
        color: #999999;
        font-size: 1em;
    }
}

/* SIDEBAR */
.sidebar-grid {
    max-width: 185px;
    width: 90%;
    height: 800px;
    background-color: $color_sidebarGray;
    float: none;
}

/* PRODUCT DISPLAY */
.product-grid {
    padding: 0 10px 0 10px;
    height: 300px;
    background-color: $color_white;
    border: 1px solid #E6E6E6;

    .product-image {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 120px;
        img {
            display: block;
            margin: auto;
            width: auto;
            max-height: 120px;
        }
    }

    .product-link {
        width: 100%;
        height: 50px;
        font-size: 12px;
        font-weight: bold;

        a {
            color: $color_black;
        }
        a:hover, a:focus {
            color: $color_red;
            text-decoration: none;
        }
    }

    .product-price-old {
        margin: 0;
        height: 20px;

        s {
            text-decoration: line-through;
        }
    }

    .product-price {
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: $color_black;
    }
}

/* CART */
#shopping-cart-table {
    width: 100%;
    border-top: 1px solid $color_lightGray;
    border-bottom: 1px solid $color_lightGray;

    .product-image {
        img {
            margin: auto;
            width: auto;
            max-height: 50px;
        }
    }

    tr {
        background-color: $color_white;
        border-bottom: 1px solid $color_lightGray;
    }
    th, td {
        padding: 15px;
        text-align: center;
        vertical-align: middle;
    }

    .table-headers {
        padding: 5px 0;
        border-right: 1px solid $color_lightGray;
        border-left: 1px solid $color_lightGray;
        > tr {
            line-height: 30px;
        }
        th {
            color: $color_red;
            font-weight: bold;
        }
    }

    .table-body {
        td {
            line-height: 20px;
        }
    }
}