// Color variables
$color-green-darker: #61892F;
$color-green: #7eb62f;
$color-gray-darkest: #222629;
$color-gray-darker: #474B4F;
$color-gray: #6B6E70;
$color-gray-lighter: #bebebe;
$color-gray-lighest: #e0e0e0;;

$color-red: #CC4040;
$color-orange: #f37c34;
$color-blue: #3273dc;
$color-white: #eee;
$color-black: #1b1b1b;
$color-black-transparent: rgba(0, 0, 0, .3);

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 14px;

// General
$body-background-color: $color-gray-darker;
$line-height-base: 1.6;

// Bulma Override
$family-sans-serif: $font-family-sans-serif;

$navbar-padding-vertical: 0;
$navbar-background-color: $color-black;
$navbar-item-color: $color-gray-lighest;
$navbar-item-img-max-height: 2.5rem;
$navbar-item-hover-color: $color-green-darker;
$navbar-item-hover-background-color: $color-black;

$navbar-dropdown-arrow: $color-green-darker;
$navbar-dropdown-background-color: $color-black;
$navbar-dropdown-boxed-radius: 0;
$navbar-dropdown-item-hover-background-color: $color-black;
$navbar-dropdown-offset: 0px;

$pagination-margin: 1.5rem 0;
$pagination-item-margin: 0.1rem;
$pagination-border-color: $color-black;
$pagination-color: $color-gray-lighter;
$pagination-hover-color: $color-gray;
$pagination-hover-border-color: $color-black;
$pagination-focus-border-color: $color-black;
$pagination-current-border-color: $color-black;
$pagination-current-color: $color-gray-lighter;
$pagination-disabled-color: $color-gray-lighter;
$pagination-disabled-border-color: $color-black;

$menu-label-color: $color-gray-lighest;
$menu-item-color: $color-gray-lighest;

$label-color: $color-gray-lighest;

$panel-heading-color: $color-gray-lighest;
$panel-heading-background-color: $color-black-transparent;
$panel-block-color: $color-gray-lighest;
$panel-item-border: 1px solid $color-black-transparent;

$table-head-cell-color: $color-gray-lighter;
$table-color: $color-gray-lighest;
$table-background-color: $color-gray-darkest;
$table-cell-border: 1px solid $color-gray-darker;

$box-color: $color-gray-lighest;
$box-background-color: $color-gray-darkest;

@import "../vendor/bulma/utilities/_all.sass";