// Color variables
$color-green-darker: #61892F;
$color-green: #7eb62f;
$color-gray-darkest: #222629;
$color-gray-darker: #474B4F;
$color-gray: #6b6e70;
$color-gray-lighter: #bebebe;
$color-gray-lightest: #e0e0e0;

$color-red: #CC4040;
$color-orange: #f37c34;
$color-blue: #3273dc;
$color-white: #eee;
$color-gray-transparent: rgba(71, 75, 79, .3);
$color-black: #1b1b1b;
$color-black-transparent: rgba(0, 0, 0, .3);
$color-random: rgb(random(255), random(255), random(255));

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 14px;

// General
$body-background-color: $color-gray-darker;
$line-height-base: 1.6;

// Bulma Override
$family-sans-serif: $font-family-sans-serif;

$box-padding: 2rem 1.25rem;

$button-color: $color-white;
$button-active-color: $color-white;
$button-active-border-color: transparent;
$button-focus-color: $color-white;
$button-focus-border-color: transparent;
$button-focus-box-shadow-size: 0 1px 20px 2px;
$button-focus-box-shadow-color: inset $color-gray-darker;
$button-hover-color: $color-white;
$button-hover-border-color: transparent;

$navbar-padding-vertical: 0;
$navbar-background-color: $color-black;
$navbar-item-color: $color-gray-lightest;
$navbar-item-img-max-height: 2.5rem;
$navbar-item-hover-color: $color-green-darker;
$navbar-item-hover-background-color: $color-black;

$navbar-dropdown-arrow: $color-green-darker;
$navbar-dropdown-background-color: $color-black;
$navbar-dropdown-boxed-radius: 0;
$navbar-dropdown-item-hover-background-color: $color-black;
$navbar-dropdown-offset: 0px;

$pagination-margin: 1.5rem 0;
$pagination-item-margin: 0.1rem;
$pagination-border-color: $color-black;
$pagination-color: $color-gray-lighter;
$pagination-hover-color: $color-gray;
$pagination-hover-border-color: $color-black;
$pagination-focus-border-color: $color-black;
$pagination-current-border-color: $color-black;
$pagination-current-color: $color-gray-lighter;
$pagination-disabled-color: $color-gray-lighter;
$pagination-disabled-border-color: $color-black;

$menu-label-color: $color-gray-lightest;
$menu-item-color: $color-gray-lightest;

$label-color: $color-gray-lightest;

$panel-heading-color: $color-gray-lightest;
$panel-heading-background-color: $color-black-transparent;
$panel-block-color: $color-gray-lightest;
$panel-item-border: 1px solid $color-black-transparent;

$table-head-cell-color: $color-gray-lighter;
$table-color: $color-gray-lightest;
$table-background-color: $color-gray-darkest;
$table-cell-border: 1px solid $color-gray-darker;
$table-row-hover-background-color: $color-black-transparent;
$table-striped-row-even-background-color: $color-gray-darker;

$box-color: $color-gray-lightest;
$box-background-color: $color-gray-darkest;

$tabs-link-color: $color-gray-lightest;
$tabs-link-hover-color: $color-green;
$tabs-link-active-color: $color-green-darker;
$tabs-boxed-link-hover-background-color: $color-gray-darkest;
$tabs-boxed-link-active-background-color: $color-gray-darkest;
$tabs-border-bottom-color: $color-gray;
$tabs-boxed-link-active-border-color: $color-gray;
$tabs-boxed-link-hover-border-bottom-color: $color-gray;

// Bulma Switches Override
$switch-focus: none;
$switch-background-active: $color-green-darker;

@import "../vendor/bulma/utilities/_all.sass";