@media only screen and (max-width: $mobile-md - 1) {
    #categories-navigation {
        margin: 0 auto;
        .categories-container {
            width: 100%;
            > ul {
                width: 100%;
            }
            .dropdown-trigger {
                display: block;
                width: 100%;
                float: none;
                > a {
                    display: block;
                    padding: 0 15px;
                    width: 100%;
                }
            }
        }
    }

    #product-view {
        display: flex;
        flex-flow: column;
        #product-buy {
            order: 1;
        }
        #product-details {
            order: 2;
            .product-image {
                > img {
                    margin: auto;
                    max-height: 200px;
                }
            }
        }
    }

    #shopping-cart-form {
        #shopping-cart-table {
            .table-headers {
                th {
                    font-size: 13px;
                }
            }
            .table-body {
                td {
                    padding: 15px 10px;
                    font-size: 13px;
                }
            }
            #qty {
                width: 40px;
                font-size: 14px;
            }
        }
        .cart-checkout {
            margin: 15px auto;
        }
    }

    .checkout-delivery {
        #checkout-delivery-form {
            .checkout-delivery-storage, .checkout-delivery-address {
                height: auto;
                img {
                    width: 80px;
                }
            }
        }
    }

    .checkout-progress {
        ul {
            li {
                span {
                    padding: 12px 10px 12px 13px;
                }
                i {
                    padding: 12px 13px 12px 0;
                }
            }
        }
    }
}
@media only screen and (min-width: $mobile-md) {
    #categories-collapse {
        display: none;
    }
    #categories-navigation {
        display: block;
        height: auto !important;
    }
}