/* PRODUCT SEARCH */
#product-search {
  margin-top: 14px;
  .product-search-container {
    &:hover, &:focus {
      background-color: $color_darkGray;
    }
  }
  #product-search-form {
    input[type="search"] {
      padding: 0 5px;
      width: 200px;
      color: $color_lightGray;
      border: none;
      outline: none;
      background-color: $color_darkerGray;
      &:hover, &:focus {
        box-shadow: $color_red 0 0px 5px 0;
      }
    }
    button {
      outline: none;
      border: none;
      background: none;
      &:hover, &:focus {
        color: $color_red;
      }
    }
  }
}

/* CATEGORY NAVIGATION */
#categories-collapse {
  margin: 0 0 5px;
  padding: 5px 0;
  width: 100%;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}
#categories-navigation {
  position: relative;
  margin: 20px auto 15px;
  width: 100%;
  ul {
    margin: 0;
  }
  .categories-container {
    display: table;
    margin: 0 auto;
    > ul {
      border: 1px  solid $color_lightGray;
    }
  }
  .dropdown-trigger {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 0.5px;
    > a {
      padding: 10px 15px;
      color: $color_darkGray;
      background: -webkit-linear-gradient(0deg, $color_lightGray, $color_white);
      background: -o-linear-gradient(0deg, $color_lightGray, $color_white);
      background: -moz-linear-gradient(0deg, $color_lightGray, $color_white);
      background: linear-gradient(180deg, $color_lightGray 28%, $color_white 100%);
      &:hover, &:focus {
        background: -webkit-linear-gradient(0deg, $color_lightGray, $color_white);
        background: -o-linear-gradient(0deg, $color_lightGray, $color_white);
        background: -moz-linear-gradient(0deg, $color_lightGray, $color_white);
        background: linear-gradient(0deg, $color_lightGray 28%, $color_white 100%);
        box-shadow: inset $color_lightGray 0 1px 3px 0;
      }
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    border-color: $color_gray;
    background-color: $color_lightGray;
    box-shadow: 4px -5px 5px -10px $color_darkGray, 4px 4px 10px -5px $color_darkGray;
    z-index: 1;
    li {
      a {
        padding: 15px 10px;
        font-size: 11px;
        span {
          color: #acacac;
        }
      }
    }
  }
}

/* PRODUCT DISPLAY */
.product-grid {
  padding: 0 10px 0 10px;
  height: 320px;
  background-color: $color_white;
  border: 1px solid $color_gray;
  .product-media {
    margin: 5px auto;
    width: 80%;
    height: 120px;
    img {
      margin: auto;
      max-height: 120px;
    }
  }
  .product-link {
    margin: 10px 0 0;
    height: 60px;
    font-size: 13px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    a {
      color: $color_black;
    }
    a:hover, a:focus {
      color: $color_red;
      text-decoration: none;
    }
  }
  .stock-status {
    margin: 10px 5px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    .stock-text {
      text-align: right;
      letter-spacing: 0.2px;
    }
  }
  .in-stock {
    .stock-text {
      color: $color_green;
    }
  }
  .low-stock {
    .stock-text {
      color: $color_orange;
    }
  }
  .product-price {
    margin: 5px;
    height: 45px;
    .product-price-old {
      margin: 0;
      font-size: 13px;
      line-height: 20px;
      text-decoration: line-through;
    }
    .product-price-current {
      color: $color_black;
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
    }
  }
  .product-add-to-cart {
    button {
      margin-right: 5px;
      padding: 0;
      width: 40px;
      height: 25px;
      color: $color_black;
      border-radius: 10px;
      background-color: $color_gray;
      box-shadow: inset $color_darkGray 0 1px 5px 0;
      float: right;
      &:hover {
        box-shadow: inset $color_darkGray 0 1px 5px 1px;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

/* PRODUCT VIEW */
#product-view {
  margin-top: 25px;
}

#product-details {
  padding: 10px 10px;
  float: left;

  #product-media-gallery {
    .product-media-item:first-child img {
      max-height: 300px;
      margin: auto;
    }

    .product-media-thumbs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      padding: 10px;
      max-width: 450px;
      max-height: 175px;

      .product-media-item {
        flex-grow: 1;
        flex-basis: 0;
        padding: 5px;
        max-width: 175px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid #0d0d0d54;
        }
      }
    }
  }

  .product-specifications {
    margin: 30px 0 10px 0;;
    width: 100%;

    tr {
      line-height: 20px;
      &.category {
        > td {
          font-weight: bold;
        }
      }
      &.specification {
        background-color: $color_lightGray;
      }
    }

    td {
      padding: 4px 5px;
      color: $color_black;
      &.attribute, &.value {
        border-bottom: 1px solid $color_gray;
      }
      &.attribute {
        padding-left: 5px;
        width: 170px;
        border-right: 2px solid $color_white;
      }
      &.value {
        padding-left: 10px;
      }
    }
  }
}

#product-buy {
  padding: 10px 10px;
  float: left;
  > h2 {
    margin: 20px 0 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid $color_lightGray;
  }

  .product-code {
    padding: 10px 0;
  }

  .product-price-current {
    color: $color_red;
    font-size: 20px;
    font-weight: bold;
  }

  .stock-status {
    margin: 15px 0;

    .stock-icon {
      display: table-cell;
      padding-right: 7px;
      vertical-align: middle;
      > i {
        display:block;
        font-size: 10px;
      }
    }

    .stock-text {
      display: table-cell;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .in-stock {
    .stock-icon {
      > i {
        color: $color_green;
      }
    }
  }

  .low-stock {
    .stock-icon {
      > i {
        color: $color_orange;
      }
    }
  }

  .out-of-stock {
    .stock-icon {
      > i {
        color: $color_red;
      }
    }
  }

  .form-container {
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid $color_gray;
  }

  #add-to-cart-form {
    label {
      display: none;
    }

    #qty {
      margin-right: 60px;
      width: 60px;
      height: 50px;
      font-size: 20px;
      text-align: center;
      background: $color_lightGray;
      border: 1px $color_gray solid;
      border-radius: 3px;
      float: left;
      outline: none;
      transition: border-color ease-in-out .25s;
      &:focus {
        border: 1px solid $color_orange;
      }
    }

    .btn-cart-add {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 20px;
      float: left;
    }
  }
}

/* CART */
#shopping-cart-form {
  #qty {
    width: 50px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    background: $color_lightGray;
    border: 1px $color_gray solid;
    border-radius: 3px;
    outline: none;
    transition: border-color ease-in-out .25s;
    &:focus {
      border: 1px solid $color_orange;
    }
  }

  .cart-total {
    margin: 10px 10px 20px;

    strong {
      font-size: 16px;
    }
  }

  .cart-update {
    margin-top: 10px;
    padding: 10px;
  }

  .cart-checkout {
    margin-left: auto;
    padding: 10px;
    width: 300px;
    text-align: right;
  }
}

#shopping-cart-table {
  width: 100%;

  tr {
    background-color: $color_white;
    border-bottom: 1px solid $color_lightGray;
  }

  th, td {
    text-align: center;
    vertical-align: middle;
  }

  .table-head {
    padding: 5px 0;
    > tr {
      line-height: 30px;
    }

    th {
      padding: 10px 5px;
      color: $color_red;
      font-weight: bold;
    }
  }

  .table-body {
    td {
      padding: 15px;
      line-height: 20px;
    }
  }

  .cart-item-remove {
    color: $color_black;
    &:hover {
      color: $color_red;
    }
  }

  .cart-item-media {
    img {
      margin: auto;
      width: auto;
      max-height: 50px;
    }
  }

  .cart-item-price {
    min-width: 100px;
  }
}

.cart-empty {
  margin: 40px auto;
  text-align: center;
  > h2 {
    margin-bottom: 50px;
    font-size: 24px;
    text-transform: uppercase;
  }
  > a {
    padding: 5px 10px;
    color: $color_black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background-color: $color_orange;
    border: 1px solid $color_black;
    transition: background ease-in-out .25s;
    &:hover {
      color: $color_black;
      background-color: $color_red;
    }
  }
}

/* CHECKOUT */
.checkout-address, .checkout-cart {
  margin: 20px 0 0;
  border: 1px solid $color_gray;
  padding: 20px;
}
.checkout-address {
  h4 {
    padding: 15px 0;
    font-weight: bold;
  }
  p {
    padding: 0 0 10px;
  }
  .checkout-edit {
    margin-top: 15px;
    text-decoration: underline;
    float: right;
  }
}
.checkout-cart {
  .checkout-cart-items {
    width: 100%;

    .checkout-cart-item {
      border-bottom: 1px solid $color_lightGray;

      td {
        &:first-of-type {
          text-align: left;
        }
        &:last-of-type {
          text-align: right;
        }
      }
    }

    tr {
      td {
        padding: 5px 10px;
      }
      &:last-of-type {
        td {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }

  .btn-checkout {
    margin-top: 30px;
    float: right;
  }
}

.checkout-delivery {
  margin: 20px 0 0;
  #checkout-delivery-form {
    text-align: center;
    .btn-checkout {
      margin: 30px 0 0;
    }
  }

  .checkout-delivery-storage, .checkout-delivery-address {
    padding: 20px;
    text-align: center;
    border: 1px solid $color_gray;
    cursor: pointer;
    &:hover {
      box-shadow: inset $color_darkGray 0 1px 10px 1px;
    }
    h4 {
      font-size: 14px;
      text-transform: uppercase;
    }
    img {
      max-width: 200px;
      height: auto;
    }
    p {
      margin: 20px 0 10px;
      font-weight: bold;
    }
    input[type="checkbox"] {
      margin-top: 10px;
      cursor: pointer;
    }
  }
}

.checkout-confirm {
  margin: 20px 0 0;
}

.checkout-success {
  margin: 20px 0 0;
  padding: 15px;
  .order-success-message {
    margin-top: 40px;
    ul {
      list-style-position: inside;
      li {
        list-style-type: circle;
        padding: 10px 0;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.checkout-progress {
  margin: 20px auto;
  text-align: center;

  ul {
    display: inline-block;
    text-align: center;

    li {
      font-size: 12px;
      font-weight: bold;
      line-height: 40px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      border-top: 3px solid $color_lightGray;
      border-left: 1px solid $color_lightGray;
      float: left;
      &:first-of-type {
        border-left: none;
      }

      span {
        padding: 12px 10px 12px 20px;
        color: $color_gray;
      }

      i {
        padding: 12px 20px 12px 0;
        color: $color_gray;
      }
    }

    .current {
      border-top: 3px solid $color_red;
      border-left: 1px solid $color_red;

      span, i {
        color: $color_black;
      }
    }
  }
}

/* RESPONSIVE STYLES */
@import "responsive";