/* CHECKOUT */
#checkout-address {
  h4 {
    padding: 15px 0;
    font-weight: bold;
  }

  p {
    padding: 0 0 10px;
  }

  .checkout-edit {
    text-decoration: underline;
  }
}

#checkout-delivery {
  #checkout-delivery-form {
    .delivery-info {
      padding-left: 25px;
      color: $color-gray-lighter;
      list-style: circle;
    }
  }
}

#checkout-confirm {
  #order-submit.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

#checkout-success {
  .order-success-message {
    h4 {
      margin: 0 0 20px;
    }

    ul {
      list-style-position: inside;

      li {
        list-style-type: circle;
        padding: 10px 0;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.checkout-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 30px;
  color: $color-gray-lightest;

  .steps-segment {
    padding: 4px 14px;
    text-align: center;
    border-top: 3px solid $color-black-transparent;
    border-right: 2px solid $color-black-transparent;
    &.passed {
      border-top: 3px solid $color-green-darker;
      border-right: 2px solid $color-green-darker;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}