/* PRODUCT VIEW */
#product-view {
  margin-top: 25px;
}

/* RESPONSIVE STYLES */
@include until($tablet) {
  #product-view {
    display: flex;
    flex-flow: column;
    #product-form {
      order: 1;
    }
    #product-details {
      order: 2;
      .product-media {
        > img {
          margin: auto;
          max-height: 200px;
        }
      }
    }
  }
}